* {
    box-sizing: border-box;
}

html {
    /* height: 100%; */
}

body {
    /* height: 100%; */
    background-image: url('../../assets/BG.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

.navbar {
    background-color: #000 !important;
}

.navbrand-container {
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbrand-container img {
    height: 100%;
}

.hero {
    margin: 2rem 0;
    padding: 1rem 0;
    height: 8rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.hero img {
    height: 100%;
}

.form-container {
    margin: 2rem 0;
    padding: 5rem 3rem;
    height: 8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-container p {
    position: relative;
    text-align: center;
    font-size: 15px;
    padding: 0 2%;
    margin-bottom: .3rem;
}

.card {
    border: none;
}

.card-header {
    text-align: center;
    background-color: #000;
    color: #fff;
}

input[type="text"] {
    border-color: #000;
    border-radius: 5rem;
}

.btn {
    padding: .1rem 5rem;
    border-color: #000;
    border-radius: 5rem;
}

.btn-primary {
    background-color: #000;
    color: #fff;
}

.rayos {
    position: absolute;
    height: 66px;
    width: auto;
    bottom: 12%;
    right: -10%;
}

.foto-container {
    margin: 2rem 0 0;
    padding: 2rem 3rem 0 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.foto {
    border-radius: 5px;
    padding: 3px;
    height: 23rem;
    background-color: #fff;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.download-container {
    padding: 0 4.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-container {
    margin: 1.5rem 0;
    padding: 0 7rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.social-container img {
    height: 1.5rem;
    filter: invert(100%) sepia(57%) saturate(0%) hue-rotate(233deg) brightness(110%) contrast(101%);
}

.separator {
    margin: .5rem 3rem;
    border: 1px solid #000;
}

.copy-container {
    margin: 1rem 0;
    padding: 0 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.copy-container p {
    font-size: 12px;
}

@media (min-width: 900px) {
    body {
        padding: 0rem 33% !important;
    }
}
